.nav ul{
  list-style-type: none;
  background-color: lightgrey;
}

.nav li {
  display: inline-block;
  float: left;
  padding: 5px;
}

a:link {
    text-decoration: none;
}

a:hover{
  background: lightgrey;
  text-decoration: none;
}

.active {
  background: blue;
  color: white;
}
